
@{
    ViewBag.Title = "MinistryDivisionList";
    Layout = "~/Views/Shared/_UserDashBoard.cshtml";
}

<style>
    p {
        background-color: #808080;     
    }
    a{
        color:white;
    }
    .row{
        margin-bottom:30px;
    }
</style>
<h4 class="text-center">Ministry of Bangladesh & Important Division</h4>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://www.bangladesh.gov.bd/" target="_blank">Bangladesh Government</a>
                <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image">
            </p>
            
        </div>
        <div class="col-sm-3">
             <p>
            <a href="http://www.dpp.gov.bd/bgpress/" target="_blank">BG Press</a>
                 <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image">
             </p>
            
        </div>
        <div class="col-sm-3">
             <p><a href="http://www.parliamentofbangladesh.org/" target="_blank">Bangladesh Parliament</a>
                 <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image">
            </p>
            
        </div>
        <div class="col-sm-3">
             <p><a href="http://www.pmo.gov.bd/" target="_blank">Prime Minister’s Office</a>
                 <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image">
            </p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            
             <p><a href="http://www.mha.gov.bd/" target="_blank"> Home Affairs</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>
        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mofa.gov.bd/" target="_blank"> Foreign Affairs</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.moedu.gov.bd/" target="_blank"> Education</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mopme.gov.bd/" target="_blank"> Primary And Mass Education</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
             <p><a href="http://www.msw.gov.bd/" target="_blank"> Social Welfare</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.moa.gov.bd/" target="_blank"> Agriculture</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mofood.gov.bd/" target="_blank"> Food</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="https://mof.gov.bd/en/" target="_blank"> Finance</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
             <p><a href="http://www.mochta.gov.bd/" target="_blank"> Parbatya Chattagram</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.rthd.gov.bd/" target="_blank"> Road Transport and Bridges</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.moi.gov.bd/" target="_blank"> Information</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mincom.gov.bd/" target="_blank"> Science And Technology</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
             <p><a href="http://www.mora.gov.bd/" target="_blank"> Religion</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.minland.gov.bd/" target="_blank"> Land</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mofl.gov.bd/" target="_blank"> Fisheries And Livestock</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
             <p><a href="http://www.mowr.gov.bd/" target="_blank"> Water Resources</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://www.moca.gov.bd/" target="_blank"> Culture</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.mod.gov.bd/" target="_blank"> Defence</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.moef.gov.bd/" target="_blank"> Environment And Forest</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.moysports.gov.bd/" target="_blank"> Youth And Sports</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://www.powerdivision.gov.bd/" target="_blank"> Power</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.moind.gov.bd/" target="_blank"> Industries</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.mole.gov.bd/" target="_blank"> Labour And Employment</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.molwa.gov.bd/" target="_blank"> Liberation War</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://www.mos.gov.bd/" target="_blank"> Shipping & Inland Water Transport</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.mohfw.gov.bd/" target="_blank"> Health and Family Welfare</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.motj.gov.bd/" target="_blank"> Textile and Jute</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.mopt.gov.bd/" target="_blank"> Textile and Jute</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://probashi.gov.bd/" target="_blank"> Expatriates Welfare and Overseas Employment</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.plancomm.gov.bd/" target="_blank"> Planning</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.mocat.gov.bd/" target="_blank"> Civil Aviation & Tourism</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="http://www.railway.gov.bd/" target="_blank">Bangladesh Railway</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p><a href="http://www.minlaw.gov.bd/" target="_blank"> Law, Justice and Parliamentary Affairs</a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href=""></a>
            <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href="">
                </a><img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
        <div class="col-sm-3">
            <p><a href=""></a>
            <img src="~/Image/Blank/MinisteryOfBangladesh.gif" class="img-responsive" style="width:100%" alt="Image"></p>

        </div>
    </div>
</div><br><br>