@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="DivForLoginPageView"></div>

<script>
    $(document).ready(function () {
        $("#DivForLoginPageView").load('@Url.Action("Login", "Account")');
    });
</script>